[submodule "PERT_PCB_Template"]
	path = PERT_PCB_Template
	url = https://github.com/Polyu-E-formula-Racing-Team/PERT_PCB_Template.git
[submodule "PERT_BMS_ShareComponentLibrary"]
	path = PERT_BMS_ShareComponentLibrary
	url = https://github.com/Polyu-E-formula-Racing-Team/PERT_BMS_ShareComponentLibrary.git
